.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.page-heading {
  font-size: $page-heading;
  font-weight: 900;
  color: $black;
  margin-bottom: 34px;
}