.grid {
  display: grid;
  grid-column-gap: 1em;
  margin-bottom: 3em;
  direction: $bi-app-direction;
  height: calc(100vh - 150px);

  &__3 {
    grid-template-columns: 2fr 1fr 1fr;
  }

  &__4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &__7 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    grid-row-gap: 1em;
  }

  &__10 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3;
    grid-row-gap: 1em;
  }

  .grid-item {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

    .link-wrapper {
      color: $white;
      text-decoration: none;
      height: 100%;
      width: 100%;
      display: block;
    }

    .grid-item-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;
    }

    .grid-item-link {
      padding: 15px 30px;
      border: 1px solid $white;
    }
  }

  .primary-grid-item {
    text-align: $left;
    
    &__7 {
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &__10 {
      grid-row-start: 1;
      grid-row-end: 4;
    }
  }
}